.nodeItem {
    padding: 5px;
    border: 1px solid lightgray;
    margin-bottom: 5px;
}
.nodePositioningWrapper:last-child > .node {
    border-bottom: none;
}

.nodeDragging {
    color: #eeeeee;
}

.nodeChildren {
    padding-left: 5px;
}

    a.expand-icon {
    font-size: 16px;
    vertical-align: middle;
    float: left;
    color: #888;
}